.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--col-rd);
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.9;
}

.header-logo {
  border-radius: 3em;
  padding: 0.4em;
  margin-left: 2em;
}
.nav-link_1 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--col-whr);
}
.nav-link_2 {
  padding: 1.5em;
  text-align: right;
  color: var(--col-whr);
  text-decoration: none;
}
