/* .App {
  height: auto;
} */

.main-gy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 67px;
  padding-bottom: 2em;
}

.collage-h1 {
  font-size: 1.5em;
  text-align: center;
}

.gy-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  gap: 1em;
}

/* .gy-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.4em;
  height: 100%;
} */

.carousel {
  position: fixed;
  height: auto;
  width: 15rem;
  overflow: hidden;
}

.carousel img {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0; /* Start with the image transparent */
  transition: opacity 1s ease-in-out; /* Transition the opacity only */
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.carousel img.current {
  opacity: 1;
}

.carousel img.next {
  opacity: 0;
}

.main-gy-container button {
  text-align: center;
  margin: 1em auto;
  /* background-color: var(--col-rd); */
  padding: 0.6em;
  border-radius: 0.5em;
  cursor: pointer;
}

.main-gy-container button a {
  color: var(--col-whr);
  text-decoration: none;
}

.svg-inline--fa {
  margin: 0 0.5em;
}

/* modal styles */

/* .img-modal {
  display: none;
}

.img-modal-open {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  align-items: center;
}

img.modal-content {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: var(--blckBgr);
} */

@media screen and (max-width: 650px) {
  .main-gy-container {
    padding-bottom: 3em;
  }
  .gy-container {
    width: 100%;
  }

  .gy-item {
    width: 25%;
  }
}
