.main-gy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 67px;
  padding-bottom: 2em;
}

.gallery-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  opacity: 0.7;
  padding: 0.8em 0;
  z-index: 11;
}

.gy-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  padding: 1.5em;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.gy-item {
  width: 14rem;
  /* border: 4px solid #0c0c0c; */
  border-radius: 0.4em;
  cursor: pointer;
}

.gy-item:hover {
  filter: drop-shadow(0 0 2em var(--col-whr));
}

.gy-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.4em;
  height: 100%;
}

.img-container {
  flex: 2;
}

.prev,
.next {
  cursor: pointer;
  background-color: transparent;
  color: var(--col-whp);
  border: none;
  font-size: 2.5em;
  flex: 1;
  outline: none;
}

.prev:hover,
.next:hover {
  color: var(--col-rd);
  transition: 1s;
}

svg:hover {
  filter: drop-shadow(0 0 2em var(--col-whr));
}

.prev {
  right: 94%;
}

.next {
  left: 94%;
}

.svg-inline--fa {
  margin: 0 0.5em;
}

.img-modal {
  display: none;
}

.img-modal-open {
  display: flex;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: #080108f5;
  width: 100%;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

img.modal-content {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  object-fit: scale-down;
}

@media screen and (max-width: 850px) {
  .main-gy-container {
    padding-bottom: 3em;
  }
  .gy-container {
    width: 100%;
  }

  .gy-item {
    width: 41%;
  }

  .header-logo {
    margin-left: 0.5em;
  }

  .nav-link_2 {
    padding: 0.5em;
  }

  .prev,
  .next {
    bottom: 0%;
    font-size: 2em;
  }

  .prev {
    right: 80%;
  }

  .next {
    left: 80%;
  }
}
