@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  color-scheme: light only;
  --fs-600: 2rem;
  --fs-500: 1.1rem;
  --fs-400: 1rem;
  --col-whr: #e2e1e1;
  --col-whp: #f7e4f2;
  /* --col-rd: #99103d; */
  --col-rd: #3a063e;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--fs-400);
  font-family: "Nanum Gothic", sans-serif;
  color: var(--col-whr);
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-weight: bolder;
}

.App {
  background-color: rgba(14, 2, 26, 0.81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

button.btn-back {
  margin: 1em auto;
  background-color: var(--col-rd);
  color: var(--col-wrd);
  border: none;
  border-radius: 0.5em;
  padding: 0;
  transition: 0.7s;
}

button.btn-back:active {
  box-shadow: 1px 1px 1px var(--col-whr);
}

button.btn-back a {
  display: block;
  color: var(--col-whr);
  text-decoration: none;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0.7em;
  letter-spacing: 0.3em;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
