@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  color-scheme: light only;
  --fs-600: 2rem;
  --fs-500: 1.1rem;
  --fs-400: 1rem;
  --col-rd: #e2e1e1;
  --col-whp: #d1cacf;
  --col-whr: #090314;
  --col-wr: #1b0f31;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  /* background: hsl(211 82% 11% / 1); */
  background: hsla(279, 70%, 4%, 0.81);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: var(--col-rd);
  border-radius: 100vw;
  /* border: .25em solid hsl(211 82% 11% / 1); */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(281, 19%, 38%);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: hsla(220 67% 4% 0.81 / 1) hsla(194, 66%, 44%, 0.782);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #0c0c0c;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  color: var(--col-whr);
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-weight: bolder;
  user-select: none;
  scroll-behavior: smooth;
}
